* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#input {
    flex: 0.7
}
.btn {
    flex: .2
}
.item-wrapper {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.item{
    height: 2rem;
    width: 4rem;
    border: 1px red solid;
    margin: 5px 16px 0 16px;
}
.red {
    background-color: red;
}