* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed";
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10vh;
  background-color: #eeeeee;
  color: #222831;
}
.definition {
  width: 65%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 3%;
}
.define {
  text-align: justify;
}
.input-container {
  margin-top: 5%;
}
#pig-input {
  color: #222831;
  border-style: solid;
  padding: 3px;
  font-size: 20px;
  text-align: center;
  border-width: 1px;
  border-radius: 5px;
}
#pig-input:focus {
  outline: none;
}
.btn {
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 5px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #00adb5;
  font-weight: 700;
  font-size: 16px;
  padding: 7px 25px;
  text-decoration: none;
}
.btn:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #00adb5;
}
.btn:active {
  position: relative;
  top: 1px;
}
#result {
  margin-top: 3%;
  font-size: 30px;
  font-weight: 700;
}
