* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato";
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10vh;
  color: #222831;
}
.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.ibb.co/Z81xRXB/zipper.jpg");
  background-position: center;
  opacity: 0.3;
  background-color: rgb(206, 199, 199);
  z-index: -1;
}
.wrap1 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 6rem;
  align-items: stretch;
  margin-bottom: 2rem;
  text-align: center;
}
.wrap2 {
  display: flex;
  flex-flow: row wrap;
  width: 65%;
  justify-content: space-evenly;
  margin: 1rem;
}
.inputWrap {
  display: flex;
  flex-flow: column nowrap;
}
.wrap3 {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 3%;
  height: 7rem;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.floating-label-field:focus ~ .floating-label {
  transition: 0.2s ease-out;
  transform: translateY(-3rem);
}
#btn {
  box-shadow: inset 0px 39px 0px -24px #da5050;
  max-width: 100px;
  background-color: #d7030e;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
#btn:hover {
  background-color: #eb675e;
}
#btn:active {
  position: relative;
  top: 1px;
}
#result {
  font-size: 2rem;
}
.floating-label-field {
  border-width: 0;
  color: rgba(#2c3e50, 0.75);
  font-size: 1.5rem;
  width: 10rem;
  margin-top: 1rem;
}
.floating-label-field:focus {
  outline: 0;
  box-shadow: 0;
}
.floating-label-field::placeholder {
  color: transparent;
}
