body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container{
    padding: 20px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    border: 1px solid;
}
div.container:hover{
    color: #F0E9E8;
}
.btn-1,.btn-2{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
}