*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100vh;
    background: #384F9B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-family: 'Poppins', sans-serif;
    color: white;
}
h1{
    padding: 30px;
    font-size: 100px;
}
h2{
    padding: 30px;
    font-size: 50px;
}
#inputGuess{
    margin: 20px;
    width: 40vh;
    height: 10vh;
    background: #384F9B;
    color: white;
    border-style: solid;
    font-size: 50px;
    text-align: center;
    border-radius: 16px; 
}
#btn, #resetBtn{
    background-color: #0d6bb8;
    color: white; 
    font-size: 20px; 
    width: 20vh;
    border-style: solid;
    padding: 13px; 
    border-radius: 16px; 
    text-transform: uppercase;
    text-align: center;
}
#resetBtn{
    display: none;
}
#resetBtn:hover,
#btn:hover{
    background-color: #618fb4;
}
#resetBtn:active,
#btn:active{
    background-color: #173247;
}
.count{
    color: white;
    font-size: 20px;

}
#message{
    color: white;
    font-size: 40px;
}