body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: beige;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.name-email,
.message {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
}
.greeting {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.name-email div {
  margin: 5px 5px;
  display: flex;
  flex-flow: column;
}
.name-email {
  width: 100%;
}
